html, body { height: 100%; margin: 0; }
#map { height: 100vh; width: 100%; }

.trainIconWrap, .trainLabelWrap { background: transparent; border: none; }

.trainMarker { width: 34px; height: 34px; transform-origin: 50% 50%; }

.trainLabelWrap { pointer-events: none; }

.trainLabel {
  display: inline-block;
  white-space: nowrap;

  font-weight: 700;
  font-size: 12px;

  padding: 3px 8px;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.95);
  color: #111;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


